<h1>Bienvenidos A mi Aplicación	</h1>
<p>Registrate akí</p>
<p><h1>Mauri G. Jaque</h1></p>
<p>Dale click akí <a href="https://www.google.com">direccion</a></p>
<h1>ruby clic <%= link_to "direccion ruby","https://www.google.com"%> </h1>

<%= link_to "nosotros", about_path %>
