<!DOCTYPE html>
<html>
  <head>
    <title>MiAplicacion</title>
   
  </head>

  <body>
  	<%= link_to "Inicio",root_path%>
  	<%= link_to "nosotros", about_path %>
  	
    <%= yield %>
  </body>
</html>
